<div class="card" data-folder="">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="" alt="" class="img-fluid card-thumbnail" style="width: 64px;">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <textarea class="card-title readonly-mode w-100" rows="1" readonly required></textarea>
                <textarea class="card-description readonly-mode w-100" rows="1" readonly></textarea>
            </div>
        </div>
    </div>

    <div class="card-footer-custom w-100">
        <input class="card-url-input" value="">
        <select name="folders" id="" class="card-folder-dropdown"></select>
        <p class="card-domain-display-text"></p>
        •
        <p class="card-folder-display-text"></p>
        •
        <p class="card-date-added"></p>

        <button class="card-edit-button clickable"><i class="bi bi-pencil"></i></button>
        <button class="card-delete-button clickable"><i class="bi bi-trash"></i></button>
        <button class="card-cancel-button clickable">Cancel</button>
        <button class="card-save-button clickable">Save</button>
    </div>
    <a href="" target="_blank" class="card-main-link clickable"></a>
    <hr>
</div>